version: "3.8"
services:
  db:
    image: postgres:15-alpine
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: nestjs_playground
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
